<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark pt-0 pb-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav nav">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="tab-content font_4">
        <div class="tab-pane container active pl-1 pr-1" id="home">
            <div class="font_3 pt-1 text-right pb-1">
                <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                <span><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
            </div>
            <div class="glass_effect p-2">
                
            </div>
        </div>

        <div class="tab-pane container fade pl-1 pr-1" id="about">
            <p>About Page edit</p>
        </div>

        <div class="tab-pane container fade pl-1 pr-1" id="skills">
            <p>Skills Page edit</p>
        </div>

        <div class="tab-pane container fade pl-1 pr-1" id="contact">
            <p>Contact Page edit</p>
        </div>

        <div class="tab-pane container fade pl-1 pr-1" id="experience">
            <p>Experience Page edit</p>
        </div>
    </div>
</div>