
<div class="row pt-1 font_4 text-white">
    <h3 class="font_3 pt-5 pl-5 pb-4"><b><span class="text-primary">|||</span><span class="text-white">Log</span><span class="text-primary">IN</span></b></h3>
    <div class="col-md-10 offset-md-1">
        <form>
            <div class="form-group">
                <label for="user">User</label>
                <input type="text" class="form-control" placeholder="Enter username" id="username" formControlName="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Enter password" id="password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send Message</button>
        </form>
    </div>
</div>
