<div class="container-fluid p-0">
    <article>
        <header class="text-center pt-3 pb-2 bg-primary">
            <h1><a href="portfolio"><span class="font-logo">&lt;<span style="color:#00fff7">Being</span><span
                        class="text-white">Bachelor</span> /&gt;</span></a></h1>
        </header>
    </article>
    <!-- <app-blog-timeline></app-blog-timeline> -->
    <app-blog-details></app-blog-details>
    <article class="footer">
        <footer class="text-center pt-2 bg-primary">
                <h6 class="m-0">
                    <a href="portfolio"><span class="font-logo">&lt;<span style="color:#00fff7">Being</span><span
                    class="text-white">Bachelor</span> /&gt;</span></a> | 
                    <ul class="p-0 mb-2 d-inline-flex text-white" style="list-style: none">
                        <li class="pr-1"><a href="https://www.facebook.com/tikeshv" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
                        <li class="pr-1"><a href="https://www.instagram.com/tikeshv/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
                        <li class="pr-1"><a href="https://twitter.com/VermaTikesh" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                        <li class="pr-1"><a href="https://www.linkedin.com/in/tikesh-verma-165599126/" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                    </ul>
                </h6>
        </footer>
    </article>
</div>