.glass_effect {
    background-color: rgba(115, 120, 123, 0.68);
    box-shadow: 5px -5px 13px #404a4c;
  }

  a{
    color:white;
  }
  a:hover{
    color:#007bff;
  }
  
  hr{
    border : 0.5px solid #007bff;
  }